bcrypt==3.1.7
flake8==3.6.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.9.1
Flask-MongoAlchemy==0.7.2
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.6
Jinja2==2.10
pep8==1.7.1
virtualenv==16.6.1
virtualenv-clone==0.5.3
yapf==0.25.0
