.background_app_store{
    background-image: none;
    min-height: 667px;
    /* height: 110vh; */
    /* max-height: 100vh; */
    min-width: 375px;
    width: 100vw;
    max-width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-y: scroll; */
    margin: auto;
}

.simple_info{
    height: 11.5rem;
}

.Logo{
    grid-row: 1/4;
    margin: auto;
}

.Logo img{
    width: 8rem;
    height: 8rem;
    border-radius: 0.3rem;
    transition: all 0.3s linear;
}

.AppName{
    grid-column: 2/5;
    
}

.AppName_Inside:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.AppName_Inside h4{
    font-size: 1.1rem;
    margin: 0;
}

.CompanyName{
    grid-column: 2/5;
    color: gray;
}

.CompanyName_Inside p{
    font-size: 1rem;
    margin: 0.1rem 0rem 0rem 0rem;
}

.OtherButton{
    text-align: right;
}

.OtherButton button{
    margin: 0rem 1rem 0rem 0rem;
}

.Rating{
    grid-column: 1/3;
    padding: 0rem 0rem 0rem 1rem;
}

.Rating h4{
    margin: 0;
    
}

.Rating h6{
    margin: 0;
    color: gray;
    grid-column: 1/3;
}

.Ranking{
    text-align: center;
}

.Ranking h4{
    margin: 0;
    
}

.Ranking h6{
    margin: 0;
    color: gray;
    display: inline-block;
    vertical-align: middle;
}

.Age{
    text-align: right;
}

.Age h4{
    margin: 0rem 1rem 0rem 0rem;
}

.Age h6{
    margin: 0rem 1rem 0rem 0rem;
    color: gray;
}

.AppDescription{
    padding: 1rem;
}

.AppDescription h4{
    margin: 0rem 0rem 1rem 0rem;
}

.AppDescription p{
    margin: 0rem;
    /* overflow-x: scroll; */
}

.AppDescription img{
    display: block;
    min-height: 667px;
    max-height: 100vh;
    min-width: 350px;
    width: 95vw;
    max-width: 500px;
    position: center;
    
}

.install_button{
    background-color : #007aff;
}

@media screen and (min-width: 375px) {
    .simple_info {
        display: grid;
        grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 375px) {
    .Rating {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}