.background_splash{
    height: 100vh;
    min-width: 375px;
    width: 100vw;
    max-width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    margin: auto;
    border: 1px solid black;

    display: table;
    vertical-align: middle;
}

.splash_img{
    
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}