body {
    margin: 10px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #ffffff;
  }

  .background_survey{
    height: 100vh;
    min-width: 375px;
    width: 100vw;
    max-width: 500px;
    padding : 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    margin: auto;
    border: 1px solid black;
  }